section {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  //border: black solid 1px;
  width: 70%;
  padding: 0 0;

  h1 {
    text-align: center;
    padding: 25px;
    font-size: 50px;
    border-radius: 10px;
    margin: 0 auto;
  }

  hr {
    display: block;
    height: 1px;
    width: 50%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto 20px;
    padding: 0;
  }

  .project-carousel {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;

    .carousel-item {
      img {
        filter: brightness(30%);
      }

      .carousel-item-caption {
        //background-color: black;
        //border-radius: 10px;
        color: white;
        //mix-blend-mode: difference;
      }
    }
  }

  .projects-panel {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    text-align: left;

    .projects {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      .project {
        width: 45%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
    }


  }
}

@media (max-width: 992px) {
  section {
    font-size: x-large;
    width: 100%;
    padding: 0;

    .projects-panel {
      .projects {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .project {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          margin-bottom: 5%;
        }

      }
    }

  }

}
