.about {
  height: fit-content;
  background: url("https://mercer-portfolio-assets.s3.us-east-2.amazonaws.com/home-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  @media screen and (max-width: 800px) {
    background-attachment: scroll;
  }
  .about-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    height: fit-content;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    .profile-image-container {
      margin: auto;
      width: 100%;
      img {
        border-radius: 50px;
        padding: 15px;
        margin: 1em;
        width: 50%;
        height: 50%;
        max-width: 500px;
      }
    }
    .bio-container {
      background-color: rgba(255, 255, 255, .9);
      border-radius: 20px;
      padding: 25px;
      max-width: 1000px;
      margin: auto auto 50px;
      .degree {
        padding-left: 5%;
        text-align: left;
      }
      h3 {
        text-align: left;
      }
      h5 {
        text-align: left;
      }
      h1 {
        text-align: left;
      }
      hr {
        border: 1px solid black;
      }
      .bio-paragraph {
        padding: 10px;
        text-align: left;
      }

      .list-container {
        padding-bottom: 2%;
        h4 {
          text-align: left;
          padding-top: 10px;
        }
        h2 {
          text-align: left;
        }
        hr {
          border: 1px solid black;
        }
        ul {
          margin: 0;
          text-align: left;
          padding: 0 0 0 4%;
          list-style: none;
        }
        p {
          text-align: left;
          padding: 0 0 0 4%;
        }
        a {
          text-align: left;
          text-decoration: none;
        }
        a:hover{
          transform: scale(1.2);
          color: #0f6674;
        }
      }

    }
  }

}