
footer {
  width: 100%;
  background-color: #007878;
  .container {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: 1000px) {
      margin: auto;

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    div {
      margin: auto;
      .link {
        img {
          padding: 5px;
          width: 100px;
          height: auto;
          @media screen and (max-width: 800px) {
            width: 50px;
          }
        }
        img:hover {
          transform: scale(1.2);
        }

      }
    }
  }
}

