@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  text-align: center;
  background-color: white;
}

.navbar {
  background-color: #0f6674;
}

.link {
  text-decoration: none;
  color: white;
  padding: 13px;
}
.link:hover {
  color: coral;
  text-decoration: none;
}
.navbar-toggle {
  background-color: #17a2b8;
  color: white;
}

@media (min-width: 600px) {
  html {
    font-size: 25px;
  }
  .top-logo {
    width: 43px;
    height: auto;
  }
}
@media (max-width: 601px) {
  html {
    font-size: 22px;
  }
  .top-logo {
    width: 43px;
    height: auto;
  }
}